* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.audio-player {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



/* audio info */
.audio-info {
  display: flex;
  gap: 20px;
}

.text {
  color: #ff5500;
}

.title {
  text-align: center;
  color: #ff5500;
  font-weight: 100;
  font-size: 32px;
  margin-bottom: 0;
  padding: 2px;
  line-height: 37px;
}



/* controls */
.controls-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.controls button,
.volume button {
  border: none;
  background-color: transparent;
  margin-right: 8px;
  cursor: pointer;
}

button svg {
  font-size: 20px;
}

.volume {
  display: flex;
  align-items: center;
}

.volume button {
  margin: 0;
}

.progress {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

/* time */
.time {
  color: #333;
  font-size: 13px;
  line-height: 46px;
}

.time.current {
  color: #640db5;
}